.bg-success {
  --bs-bg-opacity: 1;
  background-color: #c85cce(
    var(--bs-success-rgb),
    var(--bs-bg-opacity)
  ) !important;
}

header {
  display: flex;
  font-family: serif;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.nav li a {
  color: rgb(7, 7, 7) !important;
}

h3 {
  color: rgb(7, 7, 7) !important;
}

a {
  color: rgb(7, 7, 7) !important;
}

a:hover {
  color: #e5d1d0 !important;
}

h3:hover {
  color: #e5d1d0 !important;
}

.nav a:hover {
  color: #e5d1d0 !important;
}

p {
  color: #e5d1d0;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
}
nav a:hover {
  color: rgb(128, 156, 82);
}

.page-section {
  margin: 25px 0px;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.image {
  width: 50%;
  height: 50%;
}
img {
  width: 300px;
  border-radius: 50px;
  float: left;
  padding: 20px 10px;
  justify-content: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

address {
  color: black;
}

footer {
  position: relative;
  margin-top: -200px;
}

/* media rule for smaller screen */
@media screen and (max-width: 640px) {
  nav label {
    float: left;
    text-align: left;
  }
  nav li {
    float: left;
    text-align: left;
  }
  header h1 {
    text-align: center;
    float: left;
    margin: auto;
  }
}
