

.About-me {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color:rgb(189, 66, 66)
}


.Work{
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    color:black
}